build/
.bin/
.go/
*_cert.yaml
*-admin.yml
*.env
config*.yaml
config*.yml
docs/*.md
.DS_Store
*-packr.go
packrd/
dist/
hack/
.kube/
.helm/
.manifests/
kind
test-results/
manifests/static.go
templates/static.go
snapshot/
