plugins:
  - - "@semantic-release/commit-analyzer"
    - releaseRules:
        - { type: doc, scope: README, release: patch }
        - { type: fix, release: patch }
        - { type: chore, release: patch }
        - { type: refactor, release: patch }
        - { type: feat, release: minor }
        - { type: ci, release: false }
        - { type: style, release: false }
      parserOpts:
        noteKeywords:
          - MAJOR RELEASE
  - "@semantic-release/release-notes-generator"
  - - "@semantic-release/github"
    - assets:
      - path: ./.bin/karina
        name: karina
      - path: ./.bin/karina_osx
        name: karina_osx
