apiVersion: v1
kind: Namespace
metadata:
  name: crontesting
  labels:
    openpolicyagent.org/webhook: "ignore"
  annotations:
    com.flanksource.infra.logs/enabled: "true"
---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: hello
  namespace: crontesting
spec:
  concurrencyPolicy: Forbid
  failedJobsHistoryLimit: 1
  jobTemplate:
    metadata:
      annotations:
        name: hello
    spec:
      template:
        metadata:
          annotations:
            name: hello
        spec:
          containers:
            - args:
                - /bin/sh
                - -c
                - date; echo Hello from the Kubernetes cluster
              image: docker.io/library/busybox:1.28.0-glibc
              imagePullPolicy: Always
              name: hello
              resources: {}
              terminationMessagePath: /dev/termination-log
              terminationMessagePolicy: File
          dnsPolicy: ClusterFirst
          restartPolicy: OnFailure
          schedulerName: default-scheduler
          securityContext: {}
          terminationGracePeriodSeconds: 30
  schedule: "* * * * *"
  successfulJobsHistoryLimit: 3
  suspend: false
