apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: dex
  name: dex
  namespace: dex
spec:
  replicas: 2
  selector:
    matchLabels:
      app: dex
  template:
    metadata:
      labels:
        app: dex
      annotations:
        reload/all: "true" #restart on cm/secret change
    spec:
      serviceAccountName: dex
      containers:
        - image: ghcr.io/dexidp/dex:{{.dex.version}}
          name: dex
          command: ["/usr/local/bin/dex", "serve", "/etc/dex/cfg/config.yaml"]
          resources:
            requests:
              cpu: 10m
              memory: 20Mi
            limits:
              cpu: 500m
              memory: 500Mi
          ports:
            - name: https
              containerPort: 443
              protocol: "TCP"
          volumeMounts:
            - name: config
              mountPath: /etc/dex/cfg
            - name: tls
              mountPath: /ssl
          env:
            - name: AD_USERNAME
              valueFrom:
                secretKeyRef:
                  name: ldap-account
                  key: AD_USERNAME
            - name: AD_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ldap-account
                  key: AD_PASSWORD
      volumes:
        - name: config
          configMap:
            name: dex
            defaultMode: 420
            items:
              - key: dex.cfg
                path: config.yaml
        - name: tls
          secret:
            secretName: dex-tls
            defaultMode: 420
---
apiVersion: v1
kind: Service
metadata:
  name: dex
  namespace: dex
spec:
  ports:
    - name: dex
      port: 443
      protocol: TCP
      targetPort: 8443
  selector:
    app: dex

---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: dex-ing
  namespace: dex
  annotations:
    kubernetes.io/tls-acme: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/secure-backends: "true"
spec:
  tls:
    - secretName: dex-tls
      hosts:
        - dex.{{.domain}}
  rules:
    - host: dex.{{.domain}}
      http:
        paths:
          - backend:
              serviceName: dex
              servicePort: 443

---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: dex
  name: dex
  namespace: dex
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: dex
rules:
  - apiGroups: ["dex.coreos.com"]
    resources: ["*"]
    verbs: ["*"]
  - apiGroups: ["apiextensions.k8s.io"]
    resources: ["customresourcedefinitions"]
    verbs: ["*"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: dex
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: dex
subjects:
  - kind: ServiceAccount
    name: dex
    namespace: dex
