auth_request_set $authHeader0 $upstream_http_x_auth_request_user;
proxy_set_header 'x-auth-request-user' $authHeader0;
auth_request_set $authHeader1 $upstream_http_x_auth_request_email;
proxy_set_header 'x-auth-request-email' $authHeader1;
auth_request_set $authHeader2 $upstream_http_authorization;
proxy_set_header 'authorization' $authHeader2;

access_by_lua_block {
  local authorizedGroups = { {{ .groups }}  }
  local oauth2GroupAccess = require "oauth2_group_access"

  oauth2GroupAccess:verify_authorization(ngx.var.authHeader2, authorizedGroups)
}