---
apiVersion: v1
kind: ConfigMap
metadata:
  name: packetbeat-config
  namespace: platform-system
  labels:
    k8s-app: packetbeat
data:
  packetbeat.yml: |-
    fields:
      cluster: "{{ .name }}"
    setup.dashboards.enabled: true
    setup.template.enabled: true
    setup.template.settings:
      index.number_of_shards: 2
    setup.kibana:
      host: "{{ .packetbeat.kibana.url }}:{{ .packetbeat.kibana.port }}"
      username: ${ELASTIC_USERNAME}
      password: ${ELASTIC_PASSWORD}
      protocol: https
      ssl.verification_mode: none
      ssl.supported_protocols: [TLSv1.2, TLSv1.3]
    packetbeat.interfaces.device: any
    packetbeat.protocols:
    - type: dns
      ports: [53]
      include_authorities: true
      include_additionals: true
    - type: http
      ports: [80, 8000, 8080, 9200]
    - type: mysql
      ports: [3306]
    - type: redis
      ports: [6379]
    packetbeat.flows:
      timeout: 30s
      period: 10s
    processors:
      - add_cloud_metadata:
      - add_kubernetes_metadata:
          in_cluster: false
          host: ${HOSTNAME}
          kube_config: /etc/kubernetes/kubelet.conf
          default_indexers.enabled: false
          default_matchers.enabled: false
          indexers:
          - ip_port:
          matchers:
            - fields:
                format: '%{[destination.ip]}:%{[destination.port]}'
    output.elasticsearch:
      {{ if .packetbeat.elasticsearch }}
      hosts: ['{{ .packetbeat.elasticsearch.url }}:{{ .packetbeat.elasticsearch.port }}']
      {{ else }}
      hosts: ['${ELASTIC_URL}']
      {{ end }}
      username: ${ELASTIC_USERNAME}
      password: ${ELASTIC_PASSWORD}
      protocol: https
      ssl.verification_mode: none
      ssl.supported_protocols: [TLSv1.2, TLSv1.3]
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: packetbeat
  namespace: platform-system
  labels:
    k8s-app: packetbeat
  annotations:
    reload/all: "true"
spec:
  selector:
    matchLabels:
      k8s-app: packetbeat
  template:
    metadata:
      labels:
        k8s-app: packetbeat
    spec:
      serviceAccountName: packetbeat
      tolerations:
        - key: node-role.kubernetes.io/master
          effect: NoSchedule
        # schedule on dedicated node groups
        - key: node.kubernetes.io/group
          effect: NoSchedule
          operator: Exists
      terminationGracePeriodSeconds: 30
      hostNetwork: true
      containers:
        - name: packetbeat
          image: docker.elastic.co/beats/packetbeat:{{ .packetbeat.version | default "none" }}
          imagePullPolicy: Always
          args: ["-c", "/etc/packetbeat.yml", "-e"]
          securityContext:
            runAsUser: 0
            capabilities:
              add:
                - NET_ADMIN
          envFrom:
            - secretRef:
                name: elastic-infra
                optional: true
          volumeMounts:
            - name: config
              mountPath: /etc/packetbeat.yml
              readOnly: true
              subPath: packetbeat.yml
            - name: data
              mountPath: /usr/share/packetbeat/data
            - name: kubelet-conf
              mountPath: /etc/kubernetes/kubelet.conf
              readOnly: true
            - name: kubelet-pki
              mountPath: /var/lib/kubelet/pki/
              readOnly: true
      volumes:
        - name: config
          configMap:
            defaultMode: 0600
            name: packetbeat-config
        - name: data
          emptyDir: {}
        - name: kubelet-conf
          hostPath:
            path: /etc/kubernetes/kubelet.conf
            type: File
        - name: kubelet-pki
          hostPath:
            path: /var/lib/kubelet/pki/
            type: Directory
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: packetbeat
subjects:
  - kind: ServiceAccount
    name: packetbeat
    namespace: platform-system
roleRef:
  kind: ClusterRole
  name: packetbeat
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: packetbeat
  labels:
    k8s-app: packetbeat
rules:
  - apiGroups: [""] # "" indicates the core API group
    resources:
      - namespaces
      - pods
    verbs:
      - get
      - watch
      - list
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: packetbeat
  namespace: platform-system
  labels:
    k8s-app: packetbeat
