apiVersion: v1
kind: ServiceAccount
metadata:
  name: quack
  namespace: quack
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: quack:system:api-server-auth
rules:
  - apiGroups:
      - "quack.pusher.com"
    resources:
      - admissionreviews
    verbs:
      - create

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: quack:anonymous
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: quack:system:api-server-auth
subjects:
  - kind: User
    name: system:anonymous
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: quack:system:api-server-auth
rules:
  - apiGroups:
      - "quack.pusher.com"
    resources:
      - admissionreviews
    verbs:
      - create
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: quack:system:api-server-auth
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: quack:system:api-server-auth
subjects:
  - kind: ServiceAccount
    name: quack
    namespace: quack
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: quack:system:auth-delegator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:auth-delegator
subjects:
  - kind: ServiceAccount
    name: quack
    namespace: quack
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: quack
  namespace: quack
  labels:
    app: quack
  annotations:
    reload/all: "true"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: quack
  template:
    metadata:
      name: quack
      labels:
        app: quack
      annotations:
        reload/all: "true"
        com.flanksource.infra.logs/processors.0.drop_event.when.contains.message: POST /apis/quack.pusher.com/v1alpha1/admissionreviews
        com.flanksource.infra.logs/processors.1.drop_event.when.contains.message: Processing UPDATE request
    spec:
      serviceAccountName: quack
      containers:
        - name: quack
          image: quay.io/pusher/quack:v0.1.0
          imagePullPolicy: Always
          args:
            - --values-configmap=quack-config
            - --tls-cert-file=/etc/certs/tls.crt
            - --tls-private-key-file=/etc/certs/tls.key
            - --audit-log-path=-
            - --v=2
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              cpu: 500m
              memory: 100Mi
          livenessProbe:
            httpGet:
              scheme: HTTPS
              path: /healthz
              port: 443
            initialDelaySeconds: 10
          readinessProbe:
            httpGet:
              scheme: HTTPS
              path: /healthz
              port: 443
            initialDelaySeconds: 10
          volumeMounts:
            - name: certs
              mountPath: /etc/certs
              readOnly: true
            - name: config
              mountPath: /etc/config
              readOnly: true
      volumes:
        - name: certs
          secret:
            secretName: quack
        - name: config
          configMap:
            name: quack-config

---
apiVersion: v1
kind: Service
metadata:
  name: quack
  namespace: quack
  labels:
    app: quack
spec:
  ports:
    - name: https-webhook # optional
      port: 443
      targetPort: 443
  selector:
    app: quack
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: quack-config
  namespace: quack
data:
  Domain: "{{.domain}}"
  domain: "{{.domain}}"
  Name: "{{.name}}"
  name: "{{.name}}"
