apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  labels:
    component: velero
  name: velero
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: velero
    namespace: velero
---
apiVersion: v1
kind: ServiceAccount
metadata:
  creationTimestamp: null
  labels:
    component: velero
  name: velero
  namespace: velero
---
apiVersion: velero.io/v1
kind: BackupStorageLocation
metadata:
  creationTimestamp: null
  labels:
    component: velero
  name: default
  namespace: velero
spec:
  config:
  {{ range $k, $v := .velero.config }}
    "{{ $k }}": "{{ $v }}"
  {{ end }}
  objectStorage:
    bucket: "{{.velero.bucket}}"
  provider: aws

---
apiVersion: velero.io/v1
kind: VolumeSnapshotLocation
metadata:
  creationTimestamp: null
  labels:
    component: velero
  name: default
  namespace: velero
spec:
  provider: aws
---
apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    component: velero
  name: velero
  namespace: velero
spec:
  selector:
    matchLabels:
      deploy: velero
  strategy: {}
  template:
    metadata:
      annotations:
        prometheus.io/path: /metrics
        prometheus.io/port: "8085"
        prometheus.io/scrape: "true"
      creationTimestamp: null
      labels:
        component: velero
        deploy: velero
    spec:
      containers:
        - args:
            - server
          command:
            - /velero
          env:
            - name: VELERO_SCRATCH_DIR
              value: /scratch
            - name: VELERO_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: LD_LIBRARY_PATH
              value: /plugins
            - name: AWS_SHARED_CREDENTIALS_FILE
              value: /credentials/cloud
          image: docker.io/velero/velero:{{.velero.version | default "none"}}
          imagePullPolicy: IfNotPresent
          name: velero
          ports:
            - containerPort: 8085
              name: metrics
          resources:
            limits:
              cpu: 1000m
              memory: 256Mi
            requests:
              cpu: 100m
              memory: 128Mi
          volumeMounts:
            - mountPath: /plugins
              name: plugins
            - mountPath: /scratch
              name: scratch
            - mountPath: /credentials
              name: cloud-credentials
      initContainers:
        - image: docker.io/velero/velero-plugin-for-aws:v1.0.0
          imagePullPolicy: IfNotPresent
          name: velero-plugin-for-aws
          resources: {}
          volumeMounts:
            - mountPath: /target
              name: plugins
      restartPolicy: Always
      serviceAccountName: velero
      volumes:
        - emptyDir: {}
          name: plugins
        - emptyDir: {}
          name: scratch
        - name: cloud-credentials
          secret:
            secretName: cloud-credentials
