global:
  # The smarthost and SMTP sender used for mail notifications.
  {{if index . "smtp"}}
  smtp_smarthost: '{{.smtp.server}}:{{.smtp.port}}'
  smtp_from: '{{.smtp.from}}'
  {{end}}
  resolve_timeout: "5m"


route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 24h
  receiver: default


# Inhibition rules allow to mute a set of alerts given that another alert is
# firing.
# We use this to mute any warning-level notifications if the same alert is
# already critical.
inhibit_rules:
- source_match:
    severity: 'critical'
  target_match:
    severity: 'warning'
  # Apply inhibition if the alertname is the same.
  equal: ['alertname', 'cluster', 'service']

receivers:
- name: 'default'
  {{ if index .monitoring "alert_email" }}
  email_configs:
  - to: '{{.monitoring.alert_email}}'
    require_tls: false
  {{end}}
  {{ if index .monitoring "alertmanager" }}
  {{ if index .monitoring.alertmanager "opsgenieApiKey" }}
  opsgenie_configs:
    - api_key: {{ .monitoring.alertmanager.opsgenieApiKey }}
  {{ end }}
  {{ end }}
