# Create secret / configMap:

# kubectl create secret generic ca-certificates -n platform-system --from-file=./.certs/ingress-ca.crt --from-file=./.certs/ingress-ca.key --from-file=./.certs/root-ca.crt --from-file=./.certs/root-ca.key
# kubectl create configmap kubernetes-version -n platform-system --from-literal version=v1.16.9
apiVersion: karina.flanksource.com/v1
kind: KarinaConfig
metadata:
  name: karina-config-sample
  namespace: platform-system
spec:
  # dryRun: true
  image: "flanksource/karina-operator:v1"
  # version: "v9"
  config:
    # in order to connect to cluster after provisioning
    # the kubeconfig cluster name needs to match this name
    name: kind-kind
    domain: 127.0.0.1.nip.io
    dex:
      disabled: true
    ldap:
      disabled: true
    kubernetes:
      version: !!env KUBERNETES_VERSION
      kubeletExtraArgs:
        node-labels: "ingress-ready=true"
        authorization-mode: "AlwaysAllow"
      containerRuntime: containerd
    versions:
      sonobuoy: 0.16.4
      ketall: v1.3.0
      apacheds: 0.7.0
      kind: 0.9.0
    templateOperator:
      version: v0.1.0
    podSubnet: 10.200.0.0/16
    serviceSubnet: 10.201.0.0/16
    platformOperator:
      version: v0.4.5
    calico:
      version: v3.8.2
    s3:
      endpoint: http://minio.minio.svc:9000
      access_key: minio
      secret_key: minio123
      region: us-east1
      usePathStyle: true
      skipTLSVerify: true
    minio:
      version: RELEASE.2020-09-02T18-19-50Z
      access_key: minio
      secret_key: minio123
      replicas: 1
    ca:
      cert: .certs/root-ca.crt
      privateKey: .certs/root-ca.key
      password: foobar
    ingressCA:
      cert: .certs/ingress-ca.crt
      privateKey: .certs/ingress-ca.key
      password: foobar
    test:
      exclude:
        - configmap-reloader
        - quack
        - dex
        - audit
        - encryption
        - platform-operator
    canaryChecker:
      version: v0.11.4
  templateFrom:
    'ca.cert':
      tmpFile: true
      secretKeyRef:
        name: "ca-certificates"
        key: "root-ca.crt"
    'ca.privateKey':
      tmpFile: true
      secretKeyRef:
        name: "ca-certificates"
        key: "root-ca.key"
    'ingressCA.cert':
      tmpFile: true
      secretKeyRef:
        name: "ca-certificates"
        key: "ingress-ca.crt"
    'ingressCA.privateKey':
      tmpFile: true
      secretKeyRef:
        name: "ca-certificates"
        key: "ingress-ca.key"
    'kubernetes.version':
      configMapKeyRef:
        name: "kubernetes-version"
        key: version