apiVersion: v1
kind: ConfigMap
metadata:
  name: harbor-core
  namespace: harbor
  labels:
    app: "harbor"
data:
  # todo
  app.conf: |+
    appname = Harbor
    runmode = dev
    enablegzip = true

    [dev]
    httpport = 8080

  DATABASE_TYPE: "postgresql"
  POSTGRESQL_HOST: "{{.harbor.db.host}}"
  POSTGRESQL_PORT: "{{.harbor.db.port}}"
  POSTGRESQL_USERNAME: "{{.harbor.db.username}}"
  POSTGRESQL_DATABASE: "registry"
  POSTGRESQL_SSLMODE: "disable"
  POSTGRESQL_MAX_IDLE_CONNS: "50"
  POSTGRESQL_MAX_OPEN_CONNS: "100"
  EXT_ENDPOINT: "{{.harbor.url}}"
  CORE_URL: "https://harbor-core.harbor.svc.cluster.local."
  JOBSERVICE_URL: "https://harbor-jobservice.harbor.svc.cluster.local."
  REGISTRY_URL: "https://harbor-registry.harbor.svc.cluster.local.:5443"
  TOKEN_SERVICE_URL: "https://harbor-core/service/token"
  WITH_NOTARY: "false"
  #NOTARY_URL: "http://harbor-notary-server:4443"
  CFG_EXPIRATION: "5"
  ADMIRAL_URL: "NA"
  WITH_TRIVY: "true"
  TRIVY_ADAPTER_URL: "https://harbor-trivy.harbor.svc.cluster.local.:8080"
  REGISTRY_STORAGE_PROVIDER_NAME: "s3"
  WITH_CHARTMUSEUM: "true"
  CHART_REPOSITORY_URL: "https://harbor-chartmuseum.harbor.svc.cluster.local."
  LOG_LEVEL: "info"
  CONFIG_PATH: "/etc/core/app.conf"
  SYNC_REGISTRY: "false"
  METRIC_ENABLE: "true"
  METRIC_PATH: "/metrics"
  METRIC_PORT: "9090"
  METRIC_NAMESPACE: harbor
  METRIC_SUBSYSTEM: core
  CHART_CACHE_DRIVER: "redis"
  _REDIS_URL_CORE: "redis://harbor-redis:6379/0"
  _REDIS_URL_REG: "redis://harbor-redis:6379/2"
  PORTAL_URL: "https://harbor-portal.harbor.svc.cluster.local."
  REGISTRYCTL_URL: "https://harbor-registry.harbor.svc.cluster.local.:8443"
  REGISTRY_CONTROLLER_URL: "https://harbor-registry.harbor.svc.cluster.local.:8443"
  REGISTRY_CREDENTIAL_USERNAME: "harbor_registry_user"
  HTTP_PROXY: ""
  HTTPS_PROXY: ""
  NO_PROXY: "harbor-core,harbor-jobservice,harbor-database,harbor-chartmuseum,harbor-trivy,harbor-notary-server,harbor-notary-signer,harbor-registry,harbor-portal,127.0.0.1,localhost,.local,.internal"
---
apiVersion: v1
kind: Service
metadata:
  name: harbor-core
  namespace: harbor
  labels:
    app: "harbor"
    component: core
spec:
  ports:
    - port: 443
      targetPort: 8443
      name: web
    - name: metrics
      port: 9090
  selector:
    app: "harbor"
    component: core
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: core-internal-certs
  namespace: harbor
spec:
  secretName: core-internal-certs
  dnsNames:
    - harbor-core
    - harbor-core.harbor.svc.cluster.local.
  issuerRef:
    name: default-issuer
    kind: ClusterIssuer

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: harbor-core
  namespace: harbor
  labels:
    app: "harbor"
    component: core
  annotations:
    reload/all: "true" # restart on cm/secret change
    com.flanksource.infra.logs/processors.0.drop_event.when.contains.message: PULL_ARTIFACT
    com.flanksource.infra.logs/processors.1.drop_event.when.contains.message: SCANNING_COMPLETED
    com.flanksource.infra.logs/processors.2.drop_event.when.contains.message: REPLICATION
    com.flanksource.infra.logs/processors.3.drop_event.when.contains.message: PUSH_ARTIFACT
    com.flanksource.infra.logs/processors.4.drop_event.when.contains.message: The path /data is not found
    com.flanksource.infra.logs/processors.5.drop_event.when.contains.message: already exist, skip
    com.flanksource.infra.logs/processors.6.drop_event.when.contains.message: UPLOADS
    com.flanksource.infra.logs/processors.7.drop_event.when.contains.message: statusCode:200
    com.flanksource.infra.logs/processors.8.drop_event.when.contains.message: a previous scan process is
    com.flanksource.infra.logs/processors.9.drop_event.when.contains.message: /service/token
    com.flanksource.infra.logs/processors.10.drop_event.when.contains.message: /api/health
    com.flanksource.infra.logs/processors.11.drop_event.when.contains.message: api/v2.0/ping
    com.flanksource.infra.logs/processors.12.drop_event.when.contains.message: server.go:2774
    com.flanksource.infra.logs/processors.13.drop_event.when.contains.message: middleware.go:52
    com.flanksource.infra.logs/processors.14.drop_event.when.contains.message: Can not get the ldap group name with
    com.flanksource.infra.logs/processors.15.drop_event.when.contains.message: readonly.go:77
    com.flanksource.infra.logs/processors.16.drop_event.when.contains.message: TLS handshake error
    com.flanksource.infra.logs/processors.17.drop_event.when.equals.message: <html>
    com.flanksource.infra.logs/processors.18.drop_event.when.equals.message: </html>
    com.flanksource.infra.logs/processors.19.drop_event.when.equals.message: <body>
    com.flanksource.infra.logs/processors.20.drop_event.when.equals.message: </body>
    com.flanksource.infra.logs/processors.21.drop_event.when.equals.message: <center><h1>404 Not Found</h1></center>
    com.flanksource.infra.logs/processors.22.drop_event.when.contains.message: <hr><center>
    com.flanksource.infra.logs/processors.23.dissect.tokenizer: "%{} [%{log.level}] [%{stacktrace}]: %{log.message}"

spec:
  replicas: 1
  selector:
    matchLabels:
      app: "harbor"
      component: core
  template:
    metadata:
      labels:
        app: "harbor"
        component: core
    spec:
      securityContext:
        fsGroup: 10000
      containers:
        - name: core
          image: docker.io/goharbor/harbor-core:{{.harbor.version}}
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              scheme: HTTPS
              path: /api/v2.0/ping
              port: 8443
            initialDelaySeconds: 20
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /api/v2.0/ping
              scheme: HTTPS
              port: 8443
            initialDelaySeconds: 20
            periodSeconds: 10
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
            requests:
              cpu: 200m
              memory: 256Mi
          envFrom:
            - configMapRef:
                name: "harbor-core"
            - secretRef:
                name: "harbor-core"
          env:
            - name: INTERNAL_TLS_ENABLED
              value: "true"
            - name: INTERNAL_TLS_KEY_PATH
              value: /etc/harbor/ssl/core.key
            - name: INTERNAL_TLS_CERT_PATH
              value: /etc/harbor/ssl/core.crt
            - name: INTERNAL_TLS_TRUST_CA_PATH
              value: /harbor_cust_cert/harbor_internal_ca.crt
            - name: CORE_SECRET
              valueFrom:
                secretKeyRef:
                  name: harbor-core
                  key: secret
            - name: JOBSERVICE_SECRET
              valueFrom:
                secretKeyRef:
                  name: "harbor-jobservice"
                  key: secret
          ports:
            - containerPort: 8443
              name: web
            - containerPort: 9090
              name: metrics
          volumeMounts:
            - name: config
              mountPath: /etc/core/app.conf
              subPath: app.conf
            - name: secret-key
              mountPath: /etc/core/key
              subPath: key
            - name: token-service-private-key
              mountPath: /etc/core/private_key.pem
              subPath: tls.key
            - name: ca-download
              mountPath: /etc/core/ca
            - name: psc
              mountPath: /etc/core/token
            - name: core-internal-certs
              mountPath: /harbor_cust_cert/harbor_internal_ca.crt
              subPath: ca.crt
            - name: core-internal-certs
              mountPath: /etc/harbor/ssl/core.crt
              subPath: tls.crt
            - name: core-internal-certs
              mountPath: /etc/harbor/ssl/core.key
              subPath: tls.key
            - name: trusted-certs
              mountPath: /harbor_cust_cert/trusted_ca.crt
              subPath: ca.crt
      volumes:
        - name: core-internal-certs
          secret:
            secretName: core-internal-certs
        - name: config
          configMap:
            name: harbor-core
            items:
              - key: app.conf
                path: app.conf
        - name: secret-key
          secret:
            secretName: harbor-core
            items:
              - key: secretKey
                path: key
        - name: trusted-certs
          configMap:
            name: trusted-certs
        - name: token-service-private-key
          secret:
            secretName: token-key
        - name: ca-download
          secret:
            secretName: "harbor-ingress"
        - name: psc
          emptyDir: {}
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: "harbor-ingress"
  namespace: harbor
  labels:
    app: "harbor"
  annotations:
    kubernetes.io/tls-acme: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
spec:
  tls:
    - secretName: "harbor-ingress"
      hosts:
        # we don't use harbor.endpoint as it points to a single cluster only and would make
        # a backup cluster inaccessible prior to promotion
        - "harbor.{{ .domain}}"
  rules:
    - http:
        paths:
          - path: /
            pathType: ImplementationSpecific
            backend:
              service:
                name: harbor-portal
                port:
                  number: 443
          - path: /api/
            pathType: ImplementationSpecific
            backend:
              service:
                name: harbor-core
                port:
                  number: 443
          - path: /service/
            pathType: ImplementationSpecific
            backend:
              service:
                name: harbor-core
                port:
                  number: 443
          - path: /v2/
            pathType: ImplementationSpecific
            backend:
              service:
                name: harbor-core
                port:
                  number: 443
          - path: /chartrepo/
            pathType: ImplementationSpecific
            backend:
              service:
                name: harbor-core
                port:
                  number: 443
          - path: /c/
            pathType: ImplementationSpecific
            backend:
              service:
                name: harbor-core
                port:
                  number: 443
      host: "harbor.{{ .domain}}"
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: "harbor"
    component: core
  name: harbor-core
  namespace: harbor
spec:
  jobLabel: harbor-core
  namespaceSelector:
    matchNames:
      - harbor
  endpoints:
    - port: metrics
      interval: 10s
      honorLabels: true
      path: /metrics
  selector:
    matchLabels:
      app: "harbor"
      component: core
