apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: gitbranches.git.flanksource.com
spec:
  group: git.flanksource.com
  names:
    kind: GitBranch
    listKind: GitBranchList
    plural: gitbranches
    singular: gitbranch
  scope: Namespaced
  validation:
    openAPIV3Schema:
      description: GitBranch is the Schema for the gitbranches API
      properties:
        apiVersion:
          description:
            "APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          type: string
        kind:
          description:
            "Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          type: string
        metadata:
          type: object
        spec:
          description: GitBranchSpec defines the desired state of GitBranch
          properties:
            branchName:
              type: string
            repository:
              type: string
          required:
            - branchName
          type: object
        status:
          description: GitBranchStatus defines the observed state of GitBranch
          properties:
            head:
              description: The Git SHA1 of the main/master branch
              type: string
            lastUpdated:
              format: date-time
              type: string
          type: object
      type: object
  version: v1
  versions:
    - name: v1
      served: true
      storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: gitopsapis.git.flanksource.com
spec:
  group: git.flanksource.com
  names:
    kind: GitopsAPI
    listKind: GitopsAPIList
    plural: gitopsapis
    singular: gitopsapi
  scope: Namespaced
  validation:
    openAPIV3Schema:
      description: GitopsAPI is the Schema for the gitopsapis API
      properties:
        apiVersion:
          description:
            "APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          type: string
        kind:
          description:
            "Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          type: string
        metadata:
          type: object
        spec:
          description: GitopsAPISpec defines the desired state of GitopsAPI
          properties:
            branch:
              type: string
            gitAssignee:
              items:
                type: string
              type: array
            gitEmail:
              type: string
            gitRepository:
              description: The repository URL, can be a HTTP or SSH address.
              pattern: ^(http|https|ssh)://
              type: string
            gitTags:
              items:
                type: string
              type: array
            gitUser:
              type: string
            kustomization:
              description:
                The path to a kustomization file to insert or remove the
                resource, can included templated values .e.g `specs/clusters/{{.cluster}}/kustomization.yaml`
              type: string
            path:
              description:
                The path to save the resource into, should including templating
                to make it unique per cluster/namespace/kind/name tuple e.g. `specs/clusters/{{.cluster}}/{{.name}}.yaml`
              type: string
            pull_request:
              type: boolean
            secretRef:
              description:
                The secret name containing the Git credentials. For SSH
                repositories the secret must contain SSH_PRIVATE_KEY, SSH_PRIVATE_KEY_PASSORD
                For Github repositories it must contain GITHUB_TOKEN
              properties:
                name:
                  description:
                    "Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    TODO: Add other useful fields. apiVersion, kind, uid?"
                  type: string
              type: object
            tokenRef:
              description:
                "The secret name containing the static credential to authenticate
                agaist either as a `Authorization: Bearer` header or as a `?token=`
                argument Must contain a key called TOKEN"
              properties:
                name:
                  description:
                    "Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    TODO: Add other useful fields. apiVersion, kind, uid?"
                  type: string
              type: object
          type: object
        status:
          description: GitopsAPIStatus defines the observed state of GitopsAPI
          type: object
      type: object
  version: v1
  versions:
    - name: v1
      served: true
      storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
---

---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: gitpullrequests.git.flanksource.com
spec:
  group: git.flanksource.com
  names:
    kind: GitPullRequest
    listKind: GitPullRequestList
    plural: gitpullrequests
    singular: gitpullrequest
  scope: Namespaced
  validation:
    openAPIV3Schema:
      description: GitPullRequest is the Schema for the gitpullrequests API
      properties:
        apiVersion:
          description:
            "APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          type: string
        kind:
          description:
            "Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          type: string
        metadata:
          type: object
        spec:
          description: GitPullRequestSpec defines the desired state of GitPullRequest
          properties:
            base:
              type: string
            body:
              type: string
            fork:
              type: string
            head:
              type: string
            repository:
              description: Full repository name including owner
              type: string
            reviewers:
              description: Update to add or remove reviewers from the pull request
              items:
                type: string
              type: array
            sha:
              type: string
            title:
              type: string
          type: object
        status:
          description: GitPullRequestStatus defines the observed state of GitPullRequest
          properties:
            approvers:
              additionalProperties:
                type: boolean
              type: object
            author:
              type: string
            id:
              type: string
            ref:
              type: string
            url:
              type: string
          type: object
      type: object
  version: v1
  versions:
    - name: v1
      served: true
      storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: gitrepositories.git.flanksource.com
spec:
  group: git.flanksource.com
  names:
    kind: GitRepository
    listKind: GitRepositoryList
    plural: gitrepositories
    singular: gitrepository
  scope: Namespaced
  validation:
    openAPIV3Schema:
      description: GitRepository is the Schema for the gitrepositories API
      properties:
        apiVersion:
          description:
            "APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
          type: string
        kind:
          description:
            "Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
          type: string
        metadata:
          type: object
        spec:
          description: GitRepositorySpec defines the desired state of GitRepository
          properties:
            secretRef:
              description:
                The secret name containing the Git credentials. For SSH
                repositories the secret must contain SSH_PRIVATE_KEY, SSH_PRIVATE_KEY_PASSORD
                For Github repositories it must contain GITHUB_TOKEN
              properties:
                name:
                  description:
                    "Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    TODO: Add other useful fields. apiVersion, kind, uid?"
                  type: string
              type: object
            url:
              description: The repository URL, can be a HTTP or SSH address.
              pattern: ^(http|https|ssh)://
              type: string
          required:
            - url
          type: object
        status:
          description: GitRepositoryStatus defines the observed state of GitRepository
          properties:
            head:
              description: The Git SHA1 of the main/master branch
              type: string
            lastUpdated:
              format: date-time
              type: string
          type: object
      type: object
  version: v1
  versions:
    - name: v1
      served: true
      storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: git-operator-manager
  namespace: platform-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: git-operator-leader-election
  namespace: platform-system
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - configmaps/status
    verbs:
      - get
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: git-operator-manager
  namespace: platform-system
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: git-operator-manager
rules:
  - apiGroups:
      - git.flanksource.com
    resources:
      - gitbranches
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - git.flanksource.com
    resources:
      - gitbranches/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - git.flanksource.com
    resources:
      - gitopsapis
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - git.flanksource.com
    resources:
      - gitopsapis/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - git.flanksource.com
    resources:
      - gitpullrequests
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - git.flanksource.com
    resources:
      - gitpullrequests/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - git.flanksource.com
    resources:
      - gitrepositories
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - git.flanksource.com
    resources:
      - gitrepositories/status
    verbs:
      - get
      - patch
      - update
